
  
@media (min-width: 200px) {
  .head {
    margin-top: 20%;
  }
  .content {
    max-width: 95%;
    margin: 0 auto; 
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
    .head {
      margin-top: 10%;
    }
    .content {
      max-width: 60%;
      margin: 0 auto; 
      padding: 0 15px;
    }
  }